@model Projekt1.Models.EgzaminModel
@section Scripts{
    <script src="~/ts/storecustomer.js"></script>
    <script src="~/ts/main.js"></script>  
}
@{
    ViewData["Title"] = "Home Page";
   
}

<div class="boble">
    <div>
        <h2><strong style="color:#e0c52c">Konfiguracja </strong> <strong>egzaminu</strong></h2>
        
        <p>Ustaw parametry egzaminu. Jeśli nie wiesz co wybrać skożystaj z gotowych wzorów albo przeczytaj o egzaminie <a style="color: darkblue;" href="#">tutaj</a></p>
    </div> 
</div>
<div class="boble">
    @using (Html.BeginForm("Index","Egzamin",FormMethod.Post)){
        
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">@Html.DisplayNameFor(m=>m.Kategoria)</span>
                </div>
            @Html.DropDownListFor(m=>m.Kategoria,new SelectList(ViewBag.ListaPytan),new {@class="btn btn-outline-secondary dropdown-toggle"})
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">@Html.DisplayNameFor(m=>m.LiczbaPytan)</span>
                </div>
                @Html.EditorFor(m=>m.LiczbaPytan,new { htmlAttributes = new { @class = "form-control" } })
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">@Html.DisplayNameFor(m=>m.ShowAnswer)</span>
                </div>
                @Html.EditorFor(m=>m.ShowAnswer,new { htmlAttributes = new { @class = "form-control" } })
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">@Html.DisplayNameFor(m=>m.TimePytanie)</span>
                </div>
                @Html.EditorFor(m=>m.TimePytanie,new { htmlAttributes = new { @class = "form-control" } })
            </div>

            <input class="btn btn-primary" type="submit" value="Przejdz do egzaminu"/>
        

    }
</div>