@model Projekt1.Models.EgzaminModel
@{
    ViewData["Title"] = "Home Page";
   
}

<div class="boble">
    <div>
        <h2><strong style="color:#e0c52c">Konfiguracja </strong> <strong>egzaminu</strong></h2>
        
        <p>Ustaw parametry egzaminu. Jeśli nie wiesz co wybrać skożystaj z gotowych wzorów albo przeczytaj o egzaminie <a style="color: darkblue;" href="#">tutaj</a></p>
    </div> 
</div>
<div class="boble">
    @using (Html.BeginForm("Egzamin","Index",FormMethod.Post)){
    
    <table cellpadding="0" cellspacing="0">
            <tr>
                <th colspan="2" align="center">Wybierz:</th>
            </tr>
             <tr>
                <td>
                    @Html.DisplayNameFor(m=>m.Kategoria)
                </td>
                <td>
                    @Html.DropDownListFor(m=>m.Kategoria,new SelectList(ViewBag.ListaPytan))  
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(m=>m.LiczbaPytan)
                </td>
                <td>
                    @Html.EditorFor(m=>m.LiczbaPytan)           
                </td>
            </tr>
            <tr>
                <td> 
                    @Html.DisplayNameFor(m => m.ShowAnswer)
                </td>
                <td>
                    @Html.EditorFor(m => m.ShowAnswer)
                </td>
            </tr>
            <tr>
                <td> 
                    @Html.DisplayNameFor(m => m.TimePytanie)
                </td>
                <td>
                   @Html.EditorFor(m => m.TimePytanie) min
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Przejdz do egzaminu"/></td>
            </tr>
        </table>
}

</div>